extends layout

block commands
	table.table.table-striped.table-bordered
      thead
        tr
          th th is 0
          th th is 1
          th th is 2
          th th is 3
          th th is 4
          th th is 5
          th th is 6
          th th is 7
          th th is 8
          th th is 9
      tbody
        tr
          td cell is row 0, column 0
          td cell is row 0, column 1
          td cell is row 0, column 2
          td cell is row 0, column 3
          td cell is row 0, column 4
          td cell is row 0, column 5
          td cell is row 0, column 6
          td cell is row 0, column 7
          td cell is row 0, column 8
          td cell is row 0, column 9
        tr
          td cell is row 1, column 0
          td cell is row 1, column 1
          td cell is row 1, column 2
          td cell is row 1, column 3
          td cell is row 1, column 4
          td cell is row 1, column 5
          td cell is row 1, column 6
          td cell is row 1, column 7
          td cell is row 1, column 8
          td cell is row 1, column 9
        tr
          td cell is row 2, column 0
          td cell is row 2, column 1
          td cell is row 2, column 2
          td cell is row 2, column 3
          td cell is row 2, column 4
          td cell is row 2, column 5
          td cell is row 2, column 6
          td cell is row 2, column 7
          td cell is row 2, column 8
          td cell is row 2, column 9