doctype html
html
	head
		title= Title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/font-awesome.min.css')
	body
	nav.navbar.navbar-default.navbar-fixed-top
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapse(type='button', data-toggle='collapse', , data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/') PyBot
			#bs-example-navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav
					li
						a(href='/')
							| Control Panel
							span.sr-only (current)
					li
						a(href='/playlist') Playlist
					li.active
						a(href='/commands') Commands
				ul.nav.navbar-nav.navbar-right
					li
						a(href='#') GitHub
	h2= "Chat Commands"
	
	table.table.table-striped.table-bordered
		thead
			tr
				th Command
				th Response/Example
		tbody
			tr
				td
					code !admin
				td Contact KRITZWARE if you have any queries or wish to report bugs
					| &nbsp;
					img(src= "https://camo.githubusercontent.com/c2a9eb18e0c26e34ceef9985b9916a2c5109b6a7/68747470733a2f2f7374617469632d63646e2e6a74766e772e6e65742f656d6f7469636f6e732f76312f3335342f312e30")
			tr
				td
					code !help
				td {user}, you can view my commands here: 
					a(href="https://github.com/LouisBluhm/PyBot#readme") https://github.com/LouisBluhm/PyBot#readme
					| &nbsp;
					img(src= "https://camo.githubusercontent.com/91f41e4bfb674531c9e4998f6d3d44860f57c876/68747470733a2f2f7374617469632d63646e2e6a74766e772e6e65742f656d6f7469636f6e732f76312f32382f312e30")
			tr
				td
					code !twitter
				td Make sure to follow Skowalz on twitter for the latest updates!
					a(href="https://twitter.com/skowalz") twitter.com/skowalz
					| &nbsp;
					img(src= "https://camo.githubusercontent.com/4198e98a80aadd488ced8b50a87ced47065ba769/68747470733a2f2f7374617469632d63646e2e6a74766e772e6e65742f656d6f7469636f6e732f76312f38382f312e30")

	h2= "Moderator Commands"

	table.table.table-striped.table-bordered
		thead
			tr
				th Command
				th Response/Example
		tbody
			tr
				td 
					code !raffle 10
				td A raffle for 10 points has started! Type !join to enter
					| &nbsp;
					img(src= "https://camo.githubusercontent.com/4198e98a80aadd488ced8b50a87ced47065ba769/68747470733a2f2f7374617469632d63646e2e6a74766e772e6e65742f656d6f7469636f6e732f76312f38382f312e30")
			tr
				td
					code !help
				td row 0 col 0
			tr
				td
					code !twitter
				td row 0 col 0

		script(src="/js/jquery.min.js")
		script(src="/js/bootstrap.min.js")
		body
html