doctype html
html
	head
		title= Title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/font-awesome.min.css')
	body
	nav.navbar.navbar-default.navbar-fixed-top
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapse(type='button', data-toggle='collapse', , data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand.disabled(href='#') PyBot
			#bs-example-navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav
					li.disabled
						a(href='#')
							| Control Panel
							span.sr-only (current)
					li.disabled
						a(href='#') Playlist
					li.active
						a(href='/commands') Commands
				ul.nav.navbar-nav.navbar-right
					li
						a(href='https://github.com/kritzware/PyBot') GitHub
	h2= "Chat Commands"
	
	table.table.table-striped.table-bordered
		thead
			tr
				th Command
				th Response/Example
		tbody
			tr
				td
					code !admin
				td Contact KRITZWARE if you have any queries or wish to report bugs #{pogchamp}
					| &nbsp;
					img(src= "https://camo.githubusercontent.com/c2a9eb18e0c26e34ceef9985b9916a2c5109b6a7/68747470733a2f2f7374617469632d63646e2e6a74766e772e6e65742f656d6f7469636f6e732f76312f3335342f312e30")
			tr
				td
					code !help
				td {user}, you can view my commands here: 
					a(href="https://github.com/LouisBluhm/PyBot#readme") https://github.com/LouisBluhm/PyBot#readme
					| &nbsp;
					img(src= "https://camo.githubusercontent.com/91f41e4bfb674531c9e4998f6d3d44860f57c876/68747470733a2f2f7374617469632d63646e2e6a74766e772e6e65742f656d6f7469636f6e732f76312f32382f312e30")
			tr
				td
					code !twitter
				td Make sure to follow Skowalz on twitter for the latest updates! &nbsp;
					a(href="https://twitter.com/skowalz") twitter.com/skowalz
					| &nbsp;
					img(src= "https://camo.githubusercontent.com/4198e98a80aadd488ced8b50a87ced47065ba769/68747470733a2f2f7374617469632d63646e2e6a74766e772e6e65742f656d6f7469636f6e732f76312f38382f312e30")
			tr
				td
					code !uptime
				td {channel} has been streaming for 2 hrs and 5 mins
			tr
				td
					code !localtime
				td Local time: 07:28:08 EST
			tr
				td
					code !followage
				td {user} has been following for 10 months, 2 weeks! 
					| &nbsp;
					img(src= "https://static-cdn.jtvnw.net/emoticons/v1/64138/1.0")
			tr
				td
					code !points
				td {user} has 3000 points
			tr
				td
					code !roulette
				td {user} gambled 50 points and won 100/lost 50 points!
					| &nbsp;
					img(src= "https://camo.githubusercontent.com/4198e98a80aadd488ced8b50a87ced47065ba769/68747470733a2f2f7374617469632d63646e2e6a74766e772e6e65742f656d6f7469636f6e732f76312f38382f312e30")
			tr
				td
					code !duel {opponent} 10
				td {opponent}, you have been challenged to 10 points by {user}! Type !accept to duel. 
			tr
				td
					code !rank
				td You are rank 4 {user}, with 15310 points!
			tr
				td
					code !top
				td Kritzware has the most points: 172843 
					|&nbsp;
					img(src= "https://camo.githubusercontent.com/4198e98a80aadd488ced8b50a87ced47065ba769/68747470733a2f2f7374617469632d63646e2e6a74766e772e6e65742f656d6f7469636f6e732f76312f38382f312e30")
			tr
				td
					code !spooky
				td Hold me chat, I'm scared! 
					|&nbsp;
					img(src="https://static-cdn.jtvnw.net/emoticons/v1/28087/1.0")
					img(src="https://static-cdn.jtvnw.net/emoticons/v1/28087/1.0")
					img(src="https://static-cdn.jtvnw.net/emoticons/v1/28087/1.0")
			tr
				td
					code !bot
				td I'm not real.. 
					|&nbsp;
					img(src="https://cdn.betterttv.net/emote/566c9fc265dbbdab32ec053b/1x")
			tr
				td
					code !donger
				td ᕙ༼ຈل͜ຈ༽ᕗ. ʜᴀʀᴅᴇʀ,﻿ ʙᴇᴛᴛᴇʀ, ғᴀsᴛᴇʀ, ᴅᴏɴɢᴇʀ .ᕙ༼ຈل͜ຈ༽ᕗ					

	br
	h2= "Moderator Commands"

	table.table.table-striped.table-bordered
		thead
			tr
				th Command
				th Response/Example
		tbody
			tr
				td 
					code !raffle 10
				td A raffle for 10 points has started! Type !join to enter
					| &nbsp;
					img(src= "https://camo.githubusercontent.com/4198e98a80aadd488ced8b50a87ced47065ba769/68747470733a2f2f7374617469632d63646e2e6a74766e772e6e65742f656d6f7469636f6e732f76312f38382f312e30")
			tr
				td
					code !streamer {user}
				td Check out {user} at twitch.tv/{user}
					| &nbsp;
					img(src= "https://static-cdn.jtvnw.net/emoticons/v1/54090/1.0")
			tr
				td
					code !streamer acorn
				td You should (definitely) go check out the lovely AcornBandit over at 
					a(href="twitch.tv/acornbandit") twitch.tv/acornbandit
					| &nbsp;
					img(src= "https://static-cdn.jtvnw.net/emoticons/v1/27679/1.0")
			tr
				td
					code !streamer geek
				td You should (definitely) go check out the lovely GeekGeneration over at 
					a(href="twitch.tv/thegeekgeneration") twitch.tv/thegeekgeneration
					| &nbsp;
					img(src= "https://static-cdn.jtvnw.net/emoticons/v1/358/1.0")
			tr
				td
					code !test
				td [DEV] test_command recieved

		script(src="/js/jquery.min.js")
		script(src="/js/bootstrap.min.js")
		body
html