extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  table.table.table-striped.table-bordered
      thead
        tr
          th Command
          th User
          th Response/Example
      tbody
        tr
          td | !admin
          td cell is row 0, column 1
          td cell is row 0, column 2
        tr
          td cell is row 1, column 0
          td cell is row 1, column 1
          td cell is row 1, column 2
        tr
          td cell is row 2, column 0
          td cell is row 2, column 1
          td cell is row 2, column 2