extends layout

block content
	h1= title
	p Welcome to #{title}

	img(src="https://images-2.discordapp.net/.eJwNyNENgyAQANBdGAA49RBcoxNQJGiLPcJd06TG3dv3-U717lUtahNpvBiz7pyor5qFeixZF6JSc2w760SHiSIxbUd-CRtAOyOOYXYWHU44hH8NCM5ZPwYA8H4K5vakT6zfO4l-tKKuH3JdJAI.eXUUs-PrfkxkRADwV7bHWTfn3KY.jpg?width=270&height=299")