doctype html
html
	head
		title= Title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/font-awesome.min.css')
	body
	nav.navbar.navbar-default.navbar-fixed-top
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapse(type='button', data-toggle='collapse', , data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/') PyBot
			#bs-example-navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav
					li.active
						a(href='/')
							| Control Panel
							span.sr-only (current)
					li
						a(href='/playlist') Playlist
					li
						a(href='/commands') Commands
				ul.nav.navbar-nav.navbar-right
					li
						a(href='#') GitHub
	block content
		script(src="/js/jquery.min.js")
		script(src="/js/bootstrap.min.js")
		body
html