body {
	min-height: : 2000px;
	padding-top: 70px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Fixed height of footer */
	height: 60px;
	background-color: #4e5d6c;
	color: white;
}
.text-muted {
	font-size: 11px;
	margin-top: 20px;
	color: white;
}