doctype html
html
	head
		title= title
		// link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/bower_components/semantic/dist/semantic.min.css')
		script(type='text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
		script(type='text/javascript', src='/bower_components/semantic/dist/semantic.min.js')
	body
	block content